# Server Port
PORT=3000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# MongoDB Configuration
# Replace with your MongoDB Atlas connection string (or local mongodb://localhost:27017/catch_it)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/catch_it?retryWrites=true&w=majority
